@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Noto+Sans+JP&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply duration-200;
}

.fullflex {
  @apply flex flex-col items-center justify-center w-full h-screen bg-gradient-to-t from-orange-200 to-orange-300;
}

.image {
  @apply rounded-full border-4 border-black mb-2;
}

.title {
  font-family: "Chilanka", cursive;
  @apply text-6xl mt-4 text-orange-900 animate-bounce;
}

.card {
  @apply rounded-lg bg-orange-300 border-2 border-orange-900 px-2 shadow-md mx-2
  hover:scale-105 hover:animate-pulse;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
