@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Noto+Sans+JP&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply duration-200;
}

.fullflex {
  @apply flex flex-col items-center justify-center w-full h-screen;
}

.image {
  @apply rounded-full border-4 border-black mb-2;
}

.title {
  font-family: "Chilanka", cursive;
  @apply mt-4 text-orange-900;
}

.card {
  @apply rounded-lg bg-orange-300 border-2 border-orange-900 px-2 shadow-md mx-2
  hover:scale-105;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.project-card {
  @apply border-4 border-orange-900 rounded-xl m-1 sm:m-2 p-2 sm:p-4;
}

.project-card a {
  @apply text-white border-2 border-orange-900 bg-orange-900 rounded-xl w-3/4 mt-2 py-1 align-bottom
  hover:text-orange-900 hover:bg-orange-200 hover:border-orange-200;
}
